@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(9.8% 0.038 285.75);
  
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(9.8% 0.038 285.75);
  
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(9.8% 0.038 285.75);
  
  --color-primary: oklch(21.1% 0.027 285.75);
  --color-primary-foreground: oklch(98% 0 0);
  
  --color-secondary: oklch(96.1% 0.002 264.05);
  --color-secondary-foreground: oklch(21.1% 0.027 285.75);
  
  --color-muted: oklch(96.1% 0.002 264.05);
  --color-muted-foreground: oklch(46.9% 0.018 285.9);
  
  --color-accent: oklch(96.1% 0.002 264.05);
  --color-accent-foreground: oklch(21.1% 0.027 285.75);
  
  --color-destructive: oklch(60.2% 0.195 27.33);
  --color-destructive-foreground: oklch(98% 0 0);
  
  --color-border: oklch(91.4% 0.005 264.66);
  --color-input: oklch(91.4% 0.005 264.66);
  --color-ring: oklch(9.8% 0.038 285.75);
  
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(9.8% 0.038 285.75);
    --color-foreground: oklch(98% 0 0);
    
    --color-card: oklch(9.8% 0.038 285.75);
    --color-card-foreground: oklch(98% 0 0);
    
    --color-popover: oklch(9.8% 0.038 285.75);
    --color-popover-foreground: oklch(98% 0 0);
    
    --color-primary: oklch(98% 0 0);
    --color-primary-foreground: oklch(21.1% 0.027 285.75);
    
    --color-secondary: oklch(27.5% 0.018 285.88);
    --color-secondary-foreground: oklch(98% 0 0);
    
    --color-muted: oklch(27.5% 0.018 285.88);
    --color-muted-foreground: oklch(65.1% 0.017 285.88);
    
    --color-accent: oklch(27.5% 0.018 285.88);
    --color-accent-foreground: oklch(98% 0 0);
    
    --color-destructive: oklch(40.6% 0.141 27.33);
    --color-destructive-foreground: oklch(98% 0 0);
    
    --color-border: oklch(27.5% 0.018 285.88);
    --color-input: oklch(27.5% 0.018 285.88);
    --color-ring: oklch(83.9% 0.013 285.75);
  }
}
